openapi: 3.1.0
info:
  title: Ebenova Scope Guard API
  version: 1.0.0
  description: |
    AI-powered contract scope violation detector. Industry first — zero API competitors.

    Paste your contract + client message → get back: violation type, 3 professional response drafts, and change order pricing. One API call.

    **Base URL:** `https://api.ebenova.dev`

    **Authentication:** All endpoints require a Bearer token:
    ```
    Authorization: Bearer sk_live_your_api_key
    ```

    Get your API key at https://ebenova.dev/dashboard
  contact:
    email: api@ebenova.dev
    url: https://ebenova.dev
  license:
    name: Proprietary
    url: https://ebenova.dev/terms

servers:
  - url: https://api.ebenova.dev
    description: Production

tags:
  - name: Scope Guard
    description: AI-powered contract enforcement and scope violation detection

paths:

  /v1/scope/analyze:
    post:
      operationId: analyzeScopeViolation
      summary: Analyze message for scope violations
      description: |
        Analyzes a client message against your contract to detect scope violations.
        Returns violation details, severity, and 3 professional response drafts.
      tags: [Scope Guard]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contract_text, client_message]
              properties:
                contract_text:
                  type: string
                  description: The full contract or scope of work text
                  example: "SCOPE OF WORK: Website design with 5 pages, 2 rounds of revisions included..."
                client_message:
                  type: string
                  description: The client message to analyze for scope violations
                  example: "Can you also add a blog section? Shouldn't take long."
                communication_channel:
                  type: string
                  description: Communication channel context
                  enum: [email, whatsapp, slack, other]
                  example: email
      responses:
        '200':
          description: Analysis successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  violation_detected:
                    type: boolean
                  violation_type:
                    type: string
                  severity:
                    type: string
                    enum: [low, medium, high, critical]
                  response_drafts:
                    type: array
                    items:
                      type: string
                    description: 3 professional response drafts
                  change_order:
                    type: object
                    properties:
                      recommended_price:
                        type: number
                      description:
                        type: string
        '400':
          description: Bad request
        '401':
          description: Unauthorized — invalid or missing API key
        '403':
          description: Pro tier required
        '429':
          description: Rate limit exceeded

  /v1/scope/change-order:
    post:
      operationId: generateChangeOrder
      summary: Generate change order document
      description: |
        Generates a formal change order document for additional work requested by the client.
        Returns a professionally formatted document ready to send.
      tags: [Scope Guard]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [additional_work, additional_cost, freelancer_name, client_name]
              properties:
                additional_work:
                  type: string
                  description: Description of additional work requested
                  example: "Blog section with 3 template pages, CMS integration, and SEO optimization"
                additional_cost:
                  type: number
                  description: Cost for the additional work
                  example: 640
                freelancer_name:
                  type: string
                  example: "Acme Design Studio"
                client_name:
                  type: string
                  example: "TechCorp Inc."
                currency:
                  type: string
                  default: USD
                  example: USD
                timeline_extension_days:
                  type: integer
                  example: 5
                jurisdiction:
                  type: string
                  example: "United States - California"
      responses:
        '200':
          description: Change order generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  change_order:
                    type: string
                    description: The full change order document text
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Pro tier required
        '429':
          description: Rate limit exceeded

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'Format: Bearer sk_live_your_key. Get your key at ebenova.dev/dashboard'
